body,
html {
  width: 100%;
  height: 100%;
  background-image: url(images/london.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.balloon{
    position: absolute;
    background: url("images/trump-balloon.png") no-repeat center center;
    width: 150px;
    height:180px;  
    transition: top 2s, left 2s;
    transition-timing-function: linear;
} 

.explode{
  background-position: center;
  background-image: url("images/pop.png")
}

.quote{
  color:black;
  /* display: flex; */
  /* flex-wrap: wrap;  */
  justify-content: center;
  display:flex;
  width: 500px;
  height: 100px;
  background: url("../project_1/images/cloud.png");
  background-size: cover;
}

@media(max-width: 500px) {
  .quote {
    max-width: 300px;
    font-size: 30px;
  }

}

.winner-screen {
  background-color:#9ADFFF;
  background-size: cover;
  opacity: 0;
  min-width: 100%;
  min-height: 1024px;

  width:100%;
  height:auto;
  position: fixed;
  top: 0;
  left: 0;
  color:white;
}

.next-level{
  opacity: 1;
  /* background-size: cover; */
}
.title{
  font-size: 100px;
  display: flex;
  justify-content: center;
}

p{
  font-size: 50px;
  display:flex;
  justify-content: center;
}

@media screen and (max-width:1024px){
  .p{
    left: 50%;
    margin-left: -512px;
  }
}

p>a {
  color: white;

}

.plane{
  background-image: url("images/plane.png");
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  width: 100px;
  height: 200px;
  will-change: background-position;
  animation-name: move-plane;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  display: flex;
  justify-content: center;
  }
  
  @keyframes move-plane{
    from{
      margin-left: 0%;
      margin-top: 25%;
      margin-bottom: 100%;
      width: 100%;
    } 
  
    to {
      margin-left: 75%;
      margin-bottom:100%;
      width: 100%;
    }

