body,
html {
  width: 100%;
  height: 100%;
  background-image: url(images/london.jpg);
  background-size: cover;
  background-position: center;
  image-rendering: optimizeSpeed;
  /* image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: bicubic; */
  overflow: hidden;
}

.balloon{
    position: absolute;
    background: url("images/trump-balloon2.png") no-repeat center center;
    width: 150px;
    height:180px;  
    transition: top 5s, left 5s;
    transition-timing-function: linear;
} 

.explode{
  background-position: center;
  background-image: url("images/pop.png")
}
